.MovieDetail-App{
  display:flex;
  justify-content: center;
  align-items: center;

}

.MovieDetail{
  display:flex;
  justify-content: center;
  background-color: #060606;
  box-shadow: -8px 5px 8px -6px rgba(0,0,0,0.71);
  width:55rem;
  height:40rem;
  margin-top: 5rem;
  padding:2rem;
  border:2px solid white;
}

.MovieDetail-info{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-left:2rem;
  padding:2px
 
}
.MovieDetail-smInfo,.MovieDetail-overview,.MovieDetail-extraInfo{
  border-bottom: 1px solid white;
  padding:2px
}
.MovieDetail-smInfo{
  display:flex;
}
.MovieDetail-smInfo p{
  margin-left: 2rem;;
}
.under18{
  width:3rem;
}




