.Navb-Home,
.Navb-Movies {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.hide {
  display: none;
}
.navbar {
  background-color: black;
}
.container-fluid {
  background-color: black;
}
@media only screen and (max-width: 768px) {
  
  .show {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-right:5rem;
    width: 110%;
    height: 100%;
  }
  .d-flex{
    margin-left:7rem;
  }
  .d-flex .me-2{
    width:10rem;
  }
  .Navb-lang{
    margin-right:13rem;
  }
}
