.Navb-Home,.Navb-Movies{
  color:white;
  text-decoration: none;
  margin: 1rem;

}
.hide{
  display:none;
}
.navbar{
  background-color: #060606;;
}
@media only screen and (max-width:768px){
  #navbarScroll{
    display:flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}
